{% extends "base.html.twig" %}

{% block metatitle %}
{{  articles.title}} | CR7
{% endblock metatitle %}


{% block main %}

    <h1>{{ articles.title }}</h1>
    <p>{{ articles.content }}</p>
    <p>Date de création : {{ articles.createdAt | date('d/m/y h:i:s') }}</p>
    <div>
        <img src="{{ articles.image }}" alt="">
    </div>

{% endblock main %}
