{% extends "base.html.twig" %}

{% block metatitle %}
    {{ articles.title }} | CR7
{% endblock metatitle %}


{% block main %}

    <h1>{{ articles.title }}</h1>
    <p>{{ articles.content }}</p>
    <p>Date de création : {{ articles.createdAt | date('d/m/y h:i:s') }}</p>
    <div class="container">
        <img src="{{ articles.image }}" alt="">
    </div>


    <h1>Laisse un commentaire</h1>
    {{ form(formView) }}


    <h2>Commentaires</h2>
    <div>
        {% for comment in comments %}
            <div>
                <p>{{ comment.content }}</p>
            </div>
        {% endfor %}
    </div>




{% endblock main %}
